schema.xsd

<?xml version="1.0"?>
<xs:schema
	elementFormDefault="qualified"
	targetNamespace="http://www.redderationem.org/bilanciocivico"
	xmlns:tns="http://www.redderationem.org/bilanciocivico"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
	<xs:element name="all">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="actType">
					<xs:complexType>
						<xs:attribute name="code" type="xs:string" use="required"/>
						<xs:attribute name="description" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="act">
					<xs:complexType>
						<xs:attribute name="actTypeCode" type="xs:string" use="required"/>
						<xs:attribute name="code" type="xs:string" use="required"/>
						<xs:attribute name="description" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="callForTenderType">
					<xs:complexType>
						<xs:attribute name="code" type="xs:string" use="required"/>
						<xs:attribute name="description" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="callForTender">
					<xs:complexType>
						<xs:attribute name="callForTenderCode" type="xs:string" use="required"/>
						<xs:attribute name="code" type="xs:string" use="required"/>
						<xs:attribute name="description" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="categoryType">
					<xs:complexType>
						<xs:attribute name="categoryTypeCode" type="xs:string" use="required"/>
						<xs:attribute name="code" type="xs:string" use="required"/>
						<xs:attribute name="description" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="category">
					<xs:complexType>
						<xs:attribute name="code" type="xs:string" use="required"/>
						<xs:attribute name="description" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="categoryAccrualAmountByPeriod">
					<xs:complexType>
						<xs:attribute name="accrualAmount" type="xs:integer" use="required"/>
						<xs:attribute name="categoryCode" type="xs:string" use="required"/>
						<xs:attribute name="periodCode" type="xs:integer" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="categoryCashAmountByPeriod">
					<xs:complexType>
						<xs:attribute name="cashAmount" type="xs:integer" use="required"/>
						<xs:attribute name="categoryCode" type="xs:string" use="required"/>
						<xs:attribute name="periodCode" type="xs:integer" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="categoryExpectedAccrualAmountByPeriod">
					<xs:complexType>
						<xs:attribute name="categoryCode" type="xs:string" use="required"/>
						<xs:attribute name="expectedAccrualAmount" type="xs:integer" use="required"/>
						<xs:attribute name="periodCode" type="xs:integer" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="categoryExpectedCashAmountByPeriod">
					<xs:complexType>
						<xs:attribute name="categoryCode" type="xs:string" use="required"/>
						<xs:attribute name="expectedCashAmount" type="xs:integer" use="required"/>
						<xs:attribute name="periodCode" type="xs:integer" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="categoryParentCategory">
					<xs:complexType>
						<xs:attribute name="categoryCode" type="xs:string" use="required"/>
						<xs:attribute name="parentCategoryCode" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="partyType">
					<xs:complexType>
						<xs:attribute name="code" type="xs:string" use="required"/>
						<xs:attribute name="description" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="party">
					<xs:complexType>
						<xs:attribute name="code" type="xs:string" use="required"/>
						<xs:attribute name="description" type="xs:string" use="required"/>
						<xs:attribute name="partyCode" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="partyTaxCode">
					<xs:complexType>
						<xs:attribute name="partyCode" type="xs:string" use="required"/>
						<xs:attribute name="taxCode" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="partyVatNumber">
					<xs:complexType>
						<xs:attribute name="partyCode" type="xs:string" use="required"/>
						<xs:attribute name="vatNumber" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="periodType">
					<xs:complexType>
						<xs:attribute name="code" type="xs:string" use="required"/>
						<xs:attribute name="description" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="period">
					<xs:complexType>
						<xs:attribute name="code" type="xs:string" use="required"/>
						<xs:attribute name="description" type="xs:string" use="required"/>
						<xs:attribute name="periodTypeCode" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="projectType">
					<xs:complexType>
						<xs:attribute name="code" type="xs:string" use="required"/>
						<xs:attribute name="description" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="project">
					<xs:complexType>
						<xs:attribute name="code" type="xs:string" use="required"/>
						<xs:attribute name="description" type="xs:string" use="required"/>
						<xs:attribute name="projectTypeCode" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="transactionType">
					<xs:complexType>
						<xs:attribute name="code" type="xs:string" use="required"/>
						<xs:attribute name="description" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="transaction">
					<xs:complexType>
						<xs:attribute name="code" type="xs:string" use="required"/>
						<xs:attribute name="description" type="xs:string" use="required"/>
						<xs:attribute name="transactionTypeCode" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="transactionAccrualAmountByPeriod">
					<xs:complexType>
						<xs:attribute name="accrualAmount" type="xs:integer" use="required"/>
						<xs:attribute name="periodCode" type="xs:integer" use="required"/>
						<xs:attribute name="transactionCode" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="transactionAct">
					<xs:complexType>
						<xs:attribute name="actCode" type="xs:integer" use="required"/>
						<xs:attribute name="transactionCode" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="transactionCallForTender">
					<xs:complexType>
						<xs:attribute name="callForTenderCode" type="xs:integer" use="required"/>
						<xs:attribute name="transactionCode" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="transactionCashAmountByPeriod">
					<xs:complexType>
						<xs:attribute name="cashAmount" type="xs:integer" use="required"/>
						<xs:attribute name="periodCode" type="xs:integer" use="required"/>
						<xs:attribute name="transactionCode" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="transactionCategoryByPeriod">
					<xs:complexType>
						<xs:attribute name="categoryCode" type="xs:integer" use="required"/>
						<xs:attribute name="periodCode" type="xs:integer" use="required"/>
						<xs:attribute name="transactionCode" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="transactionParentTransaction">
					<xs:complexType>
						<xs:attribute name="parentTransactionCode" type="xs:integer" use="required"/>
						<xs:attribute name="transactionCode" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="transactionParty">
					<xs:complexType>
						<xs:attribute name="partyCode" type="xs:integer" use="required"/>
						<xs:attribute name="transactionCode" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="transactionProject">
					<xs:complexType>
						<xs:attribute name="projectCode" type="xs:integer" use="required"/>
						<xs:attribute name="transactionCode" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
		<xs:key name="actCodeKey">
			<xs:selector xpath="./tns:act"/>
			<xs:field xpath="@code"/>
		</xs:key>
		<xs:key name="actTypeCodeKey">
			<xs:selector xpath="./tns:actType"/>
			<xs:field xpath="@code"/>
		</xs:key>
		<xs:key name="callForTenderCodeKey">
			<xs:selector xpath="./tns:callForTender"/>
			<xs:field xpath="@code"/>
		</xs:key>
		<xs:key name="callForTenderTypeCodeKey">
			<xs:selector xpath="./tns:callForTenderType"/>
			<xs:field xpath="@code"/>
		</xs:key>
		<xs:key name="categoryCodeKey">
			<xs:selector xpath="./tns:category"/>
			<xs:field xpath="@code"/>
		</xs:key>
		<xs:key name="categoryAccrualAmountByPeriodCategoryCodePeriodCodeKey">
			<xs:selector xpath="./tns:categoryAccrualAmountByPeriod"/>
			<xs:field xpath="@categoryCode"/>
			<xs:field xpath="@periodCode"/>
		</xs:key>
		<xs:key name="categoryCashAmountByPeriodCategoryCodePeriodCodeKey">
			<xs:selector xpath="./tns:categoryCashAmountByPeriod"/>
			<xs:field xpath="@categoryCode"/>
			<xs:field xpath="@periodCode"/>
		</xs:key>
		<xs:key name="categoryExpectedAccrualAmountByPeriodCategoryCodePeriodCodeKey">
			<xs:selector xpath="./tns:categoryExpectedAccrualAmountByPeriod"/>
			<xs:field xpath="@categoryCode"/>
			<xs:field xpath="@periodCode"/>
		</xs:key>
		<xs:key name="categoryExpectedCashAmountByPeriodCategoryCodePeriodCodeKey">
			<xs:selector xpath="./tns:categoryExpectedCashAmountByPeriod"/>
			<xs:field xpath="@categoryCode"/>
			<xs:field xpath="@periodCode"/>
		</xs:key>
		<xs:key name="categoryParentCategoryCategoryCodePeriodCodeKey">
			<xs:selector xpath="./tns:categoryParentCategory"/>
			<xs:field xpath="@categoryCode"/>
			<xs:field xpath="@parentCategoryCode"/>
		</xs:key>
		<xs:key name="categoryTypeCodeKey">
			<xs:selector xpath="./tns:categoryType"/>
			<xs:field xpath="@code"/>
		</xs:key>
		<xs:key name="partyCodeKey">
			<xs:selector xpath="./tns:party"/>
			<xs:field xpath="@code"/>
		</xs:key>
		<xs:key name="partyTaxCodePartyCodeKey">
			<xs:selector xpath="./tns:partyTaxCode"/>
			<xs:field xpath="@partyCode"/>
		</xs:key>
		<xs:key name="partyVatNumberPartyCodeKey">
			<xs:selector xpath="./tns:partyVatNumber"/>
			<xs:field xpath="@partyCode"/>
		</xs:key>
		<xs:key name="partyTypeCodeKey">
			<xs:selector xpath="./tns:partyType"/>
			<xs:field xpath="@code"/>
		</xs:key>
		<xs:key name="periodCodeKey">
			<xs:selector xpath="./tns:period"/>
			<xs:field xpath="@code"/>
		</xs:key>
		<xs:key name="periodTypeCodeKey">
			<xs:selector xpath="./tns:periodType"/>
			<xs:field xpath="@code"/>
		</xs:key>
		<xs:key name="projectCodeKey">
			<xs:selector xpath="./tns:project"/>
			<xs:field xpath="@code"/>
		</xs:key>
		<xs:key name="projectTypeCodeKey">
			<xs:selector xpath="./tns:projectType"/>
			<xs:field xpath="@code"/>
		</xs:key>
		<xs:key name="transactionCodeKey">
			<xs:selector xpath="./tns:transaction"/>
			<xs:field xpath="@code"/>
		</xs:key>
		<xs:key name="transactionAccrualAmountByPeriodPeriodCodeTransactionCodeKey">
			<xs:selector xpath="./tns:transactionAccrualAmountByPeriod"/>
			<xs:field xpath="@periodCode"/>
			<xs:field xpath="@transactionCode"/>
		</xs:key>
		<xs:key name="transactionActTransactionCodeKey">
			<xs:selector xpath="./tns:transactionAct"/>
			<xs:field xpath="@transactionCode"/>
		</xs:key>
		<xs:key name="transactionCallForTenderTransactionCodeKey">
			<xs:selector xpath="./tns:transactionCallForTender"/>
			<xs:field xpath="@transactionCode"/>
		</xs:key>
		<xs:key name="transactionCashAmountByPeriodPeriodCodeTransactionCodeKey">
			<xs:selector xpath="./tns:transactionCashAmountByPeriod"/>
			<xs:field xpath="@periodCode"/>
			<xs:field xpath="@transactionCode"/>
		</xs:key>
		<xs:key name="transactionCategoryByPeriodCategoryCodePeriodCodeTransactionCodeKey">
			<xs:selector xpath="./tns:transactionCategoryByPeriod"/>
			<xs:field xpath="@categoryCode"/>
			<xs:field xpath="@periodCode"/>
			<xs:field xpath="@transactionCode"/>
		</xs:key>
		<xs:key name="transactionPartyTransactionCodeKey">
			<xs:selector xpath="./tns:transactionParty"/>
			<xs:field xpath="@transactionCode"/>
		</xs:key>
		<xs:key name="transactionProjectTransactionCodeKey">
			<xs:selector xpath="./tns:transactionProject"/>
			<xs:field xpath="@transactionCode"/>
		</xs:key>
		<xs:key name="transactionParentTransactionParentTransactionCodeTransactionCodeKey">
			<xs:selector xpath="./tns:transactionParentTransaction"/>
			<xs:field xpath="@parentTransactionCode"/>
			<xs:field xpath="@transactionCode"/>
		</xs:key>
		<xs:key name="transactionTypeCodeKey">
			<xs:selector xpath="./tns:transactionType"/>
			<xs:field xpath="@code"/>
		</xs:key>
		<xs:keyref name="actActTypeCodeKeyref" refer="tns:actTypeCodeKey">
			<xs:selector xpath="./tns:act"/>
			<xs:field xpath="@actTypeCode"/>
		</xs:keyref>
		<xs:keyref name="callForTenderCallForTenderTypeCodeKeyref" refer="tns:callForTenderTypeCodeKey">
			<xs:selector xpath="./tns:callForTender"/>
			<xs:field xpath="@callForTenderTypeCode"/>
		</xs:keyref>
		<xs:keyref name="categoryCategoryTypeCodeKeyref" refer="tns:categoryTypeCodeKey">
			<xs:selector xpath="./tns:category"/>
			<xs:field xpath="@categoryTypeCode"/>
		</xs:keyref>
		<xs:keyref name="categoryAccrualAmountByPeriodCategoryCodeKeyref" refer="tns:categoryCodeKey">
			<xs:selector xpath="./tns:categoryAccrualAmountByPeriod"/>
			<xs:field xpath="@categoryCode"/>
		</xs:keyref>
		<xs:keyref name="categoryAccrualAmountByPeriodPeriodCodeKeyref" refer="tns:periodCodeKey">
			<xs:selector xpath="./tns:categoryAccrualAmountByPeriod"/>
			<xs:field xpath="@periodCode"/>
		</xs:keyref>
		<xs:keyref name="categoryCashAmountByPeriodCategoryCodeKeyref" refer="tns:categoryCodeKey">
			<xs:selector xpath="./tns:categoryCashAmountByPeriod"/>
			<xs:field xpath="@categoryCode"/>
		</xs:keyref>
		<xs:keyref name="categoryCashAmountByPeriodPeriodCodeKeyref" refer="tns:periodCodeKey">
			<xs:selector xpath="./tns:categoryCashAmountByPeriod"/>
			<xs:field xpath="@periodCode"/>
		</xs:keyref>
		<xs:keyref name="categoryExpectedAccrualAmountByPeriodCategoryCodeKeyref" refer="tns:categoryCodeKey">
			<xs:selector xpath="./tns:categoryExpectedAccrualAmountByPeriod"/>
			<xs:field xpath="@categoryCode"/>
		</xs:keyref>
		<xs:keyref name="categoryExpectedAccrualAmountByPeriodPeriodCodeKeyref" refer="tns:periodCodeKey">
			<xs:selector xpath="./tns:categoryExpectedAccrualAmountByPeriod"/>
			<xs:field xpath="@periodCode"/>
		</xs:keyref>
		<xs:keyref name="categoryExpectedCashAmountByPeriodCategoryCodeKeyref" refer="tns:categoryCodeKey">
			<xs:selector xpath="./tns:categoryExpectedCashAmountByPeriod"/>
			<xs:field xpath="@categoryCode"/>
		</xs:keyref>
		<xs:keyref name="categoryExpectedCashAmountByPeriodPeriodCodeKeyref" refer="tns:periodCodeKey">
			<xs:selector xpath="./tns:categoryExpectedCashAmountByPeriod"/>
			<xs:field xpath="@periodCode"/>
		</xs:keyref>
		<xs:keyref name="categoryParentCategoryCategoryCodeKeyref" refer="tns:categoryCodeKey">
			<xs:selector xpath="./tns:categoryParentCategory"/>
			<xs:field xpath="@categoryCode"/>
		</xs:keyref>
		<xs:keyref name="categoryParentCategoryParentCategoryCodeKeyref" refer="tns:categoryCodeKey">
			<xs:selector xpath="./tns:categoryParentCategory"/>
			<xs:field xpath="@parentCategoryCode"/>
		</xs:keyref>
		<xs:keyref name="partyPartyTypeCodeKeyref" refer="tns:partyTypeCodeKey">
			<xs:selector xpath="./tns:party"/>
			<xs:field xpath="@partyTypeCode"/>
		</xs:keyref>
		<xs:keyref name="partyTaxCodePartyCodeKeyref" refer="tns:partyCodeKey">
			<xs:selector xpath="./tns:partyTaxCode"/>
			<xs:field xpath="@partyCode"/>
		</xs:keyref>
		<xs:keyref name="partyVatNumberPartyCodeKeyref" refer="tns:partyCodeKey">
			<xs:selector xpath="./tns:partyVatNumber"/>
			<xs:field xpath="@partyCode"/>
		</xs:keyref>
		<xs:keyref name="periodPeriodTypeCodeKeyref" refer="tns:periodTypeCodeKey">
			<xs:selector xpath="./tns:period"/>
			<xs:field xpath="@periodTypeCode"/>
		</xs:keyref>
		<xs:keyref name="projectProjectTypeCodeKeyref" refer="tns:projectTypeCodeKey">
			<xs:selector xpath="./tns:project"/>
			<xs:field xpath="@projectTypeCode"/>
		</xs:keyref>
		<xs:keyref name="transactionActActCodeKeyref" refer="tns:actCodeKey">
			<xs:selector xpath="./tns:transactionAct"/>
			<xs:field xpath="@actCode"/>
		</xs:keyref>
		<xs:keyref name="transactionActTransactionCodeKeyref" refer="tns:transactionCodeKey">
			<xs:selector xpath="./tns:transactionAct"/>
			<xs:field xpath="@transactionCode"/>
		</xs:keyref>
		<xs:keyref name="transactionCallForTenderCallForTenderCodeKeyref" refer="tns:callForTenderCodeKey">
			<xs:selector xpath="./tns:transactionCallForTender"/>
			<xs:field xpath="@callForTenderCode"/>
		</xs:keyref>
		<xs:keyref name="transactionCallForTenderTransactionCodeKeyref" refer="tns:transactionCodeKey">
			<xs:selector xpath="./tns:transactionCallForTender"/>
			<xs:field xpath="@transactionCode"/>
		</xs:keyref>
		<xs:keyref name="transactionCategoryByPeriodCategoryCodeKeyref" refer="tns:categoryCodeKey">
			<xs:selector xpath="./tns:transactionCategoryByPeriod"/>
			<xs:field xpath="@categoryCode"/>
		</xs:keyref>
		<xs:keyref name="transactionCategoryByPeriodPeriodCodeKeyref" refer="tns:periodCodeKey">
			<xs:selector xpath="./tns:transactionCategoryByPeriod"/>
			<xs:field xpath="@periodCode"/>
		</xs:keyref>
		<xs:keyref name="transactionCategoryByPeriodTransactionCodeKeyref" refer="tns:transactionCodeKey">
			<xs:selector xpath="./tns:transactionCategoryByPeriod"/>
			<xs:field xpath="@transactionCode"/>
		</xs:keyref>
		<xs:keyref name="transactionParentTransactionParentTransactionCodeKeyref" refer="tns:transactionCodeKey">
			<xs:selector xpath="./tns:transactionParentTransaction"/>
			<xs:field xpath="@parentTransactionCode"/>
		</xs:keyref>
		<xs:keyref name="transactionParentTransactionTransactionCodeKeyref" refer="tns:transactionCodeKey">
			<xs:selector xpath="./tns:transactionParentTransaction"/>
			<xs:field xpath="@transactionCode"/>
		</xs:keyref>
		<xs:keyref name="transactionPartyPartyCodeKeyref" refer="tns:partyCodeKey">
			<xs:selector xpath="./tns:transactionParty"/>
			<xs:field xpath="@partyCode"/>
		</xs:keyref>
		<xs:keyref name="transactionPartyTransactionCodeKeyref" refer="tns:transactionCodeKey">
			<xs:selector xpath="./tns:transactionParty"/>
			<xs:field xpath="@transactionCode"/>
		</xs:keyref>
		<xs:keyref name="transactionProjectProjectCodeKeyref" refer="tns:projectCodeKey">
			<xs:selector xpath="./tns:transactionProject"/>
			<xs:field xpath="@projectCode"/>
		</xs:keyref>
		<xs:keyref name="transactionProjectTransactionCodeKeyref" refer="tns:transactionCodeKey">
			<xs:selector xpath="./tns:transactionProject"/>
			<xs:field xpath="@transactionCode"/>
		</xs:keyref>
		<xs:keyref name="transactionTransactionTypeCodeKeyref" refer="tns:transactionTypeCodeKey">
			<xs:selector xpath="./tns:transaction"/>
			<xs:field xpath="@transactionTypeCode"/>
		</xs:keyref>
	</xs:element>
</xs:schema>
