schema.xsd

<?xml version="1.0"?>
<xs:schema
	elementFormDefault="qualified"
	targetNamespace="http://www.redderationem.org/bilanciocivico"
	xmlns:tns="http://www.redderationem.org/bilanciocivico"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
	<!-- Dati da importare -->
	<xs:element name="data">
		<xs:complexType>
			<xs:sequence>
				<!-- Tipo di atto -->
				<xs:element maxOccurs="unbounded" minOccurs="0" name="actType">
					<xs:complexType>
						<!-- Codice -->
						<xs:attribute name="code" type="xs:string" use="required"/>
						<!-- Descrizione -->
						<xs:attribute name="description" type="xs:string" use="required"/>
						<!-- Uscita? -->
						<xs:attribute name="isExpense" type="xs:boolean" use="required"/>
						<!-- Entrata? -->
						<xs:attribute name="isRevenue" type="xs:boolean" use="required"/>
					</xs:complexType>
				</xs:element>
				<!-- Tipo di voce dello schema di bilancio -->
				<xs:element maxOccurs="unbounded" minOccurs="0" name="balanceSheetItemType">
					<xs:complexType>
						<!-- Codice -->
						<xs:attribute name="code" type="xs:string" use="required"/>
						<!-- Descrizione -->
						<xs:attribute name="description" type="xs:string" use="required"/>
						<!-- Uscita? -->
						<xs:attribute name="isExpense" type="xs:boolean" use="required"/>
						<!-- Extra (fpv, avanzo..)? -->
						<xs:attribute name="isExtra" type="xs:boolean" use="required"/>
						<!-- Principale? -->
						<xs:attribute name="isMain" type="xs:boolean" use="required"/>
						<!-- Entrata? -->
						<xs:attribute name="isRevenue" type="xs:boolean" use="required"/>
					</xs:complexType>
				</xs:element>
				<!-- Tipo di voce del piano dei conti finanziario -->
				<xs:element maxOccurs="unbounded" minOccurs="0" name="chartOfAccountItemType">
					<xs:complexType>
						<!-- Codice -->
						<xs:attribute name="code" type="xs:string" use="required"/>
						<!-- Descrizione -->
						<xs:attribute name="description" type="xs:string" use="required"/>
						<!-- Uscita? -->
						<xs:attribute name="isExpense" type="xs:boolean" use="required"/>
						<!-- Principale? -->
						<xs:attribute name="isMain" type="xs:boolean" use="required"/>
						<!-- Entrata? -->
						<xs:attribute name="isRevenue" type="xs:boolean" use="required"/>
					</xs:complexType>
				</xs:element>
				<!-- Tipo di esercizio -->
				<xs:element maxOccurs="unbounded" minOccurs="0" name="cycleType">
					<xs:complexType>
						<!-- Codice -->
						<xs:attribute name="code" type="xs:string" use="required"/>
						<!-- Descrizione -->
						<xs:attribute name="description" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
				<!-- Tipo di voce del piano esecutivo di gestione -->
				<xs:element maxOccurs="unbounded" minOccurs="0" name="executiveManagementPlanItemType">
					<xs:complexType>
						<!-- Codice -->
						<xs:attribute name="code" type="xs:string" use="required"/>
						<!-- Descrizione -->
						<xs:attribute name="description" type="xs:string" use="required"/>
						<!-- Uscita? -->
						<xs:attribute name="isExpense" type="xs:boolean" use="required"/>
						<!-- Principale? -->
						<xs:attribute name="isMain" type="xs:boolean" use="required"/>
						<!-- Entrata? -->
						<xs:attribute name="isRevenue" type="xs:boolean" use="required"/>
					</xs:complexType>
				</xs:element>
				<!-- Tipo di soggetto -->
				<xs:element maxOccurs="unbounded" minOccurs="0" name="subjectType">
					<xs:complexType>
						<!-- Codice -->
						<xs:attribute name="code" type="xs:string" use="required"/>
						<!-- Descrizione -->
						<xs:attribute name="description" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
				<!-- Tipo di operazione -->
				<xs:element maxOccurs="unbounded" minOccurs="0" name="transactionType">
					<xs:complexType>
						<!-- Codice -->
						<xs:attribute name="code" type="xs:string" use="required"/>
						<!-- Descrizione -->
						<xs:attribute name="description" type="xs:string" use="required"/>
						<!-- Uscita? -->
						<xs:attribute name="isExpense" type="xs:boolean" use="required"/>
						<!-- Entrata? -->
						<xs:attribute name="isRevenue" type="xs:boolean" use="required"/>
					</xs:complexType>
				</xs:element>
				<!-- Esercizio -->
				<xs:element maxOccurs="unbounded" minOccurs="0" name="cycle">
					<xs:complexType>
						<!-- Codice -->
						<xs:attribute name="code" type="xs:string" use="required"/>
						<!-- Codice del tipo di esercizio -->
						<xs:attribute name="cycleTypeCode" type="xs:string" use="required"/>
						<!-- Descrizione -->
						<xs:attribute name="description" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
				<!-- Atto -->
				<xs:element maxOccurs="unbounded" minOccurs="0" name="act">
					<xs:complexType>
						<!-- Codice del tipo di atto -->
						<xs:attribute name="actTypeCode" type="xs:string" use="required"/>
						<!-- Codice -->
						<xs:attribute name="code" type="xs:string" use="required"/>
						<!-- Data -->
						<xs:attribute name="date" type="xs:date" use="required"/>
						<!-- Descrizione -->
						<xs:attribute name="description" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
				<!-- Voce dello schema di bilancio -->
				<xs:element maxOccurs="unbounded" minOccurs="0" name="balanceSheetItem">
					<xs:complexType>
						<!-- Codice della voce dello schema di bilancio -->
						<xs:attribute name="balanceSheetItemCode" type="xs:string"/>
						<!-- Codice del tipo di voce dello schema di bilancio -->
						<xs:attribute name="balanceSheetItemTypeCode" type="xs:string" use="required"/>
						<!-- Codice -->
						<xs:attribute name="code" type="xs:string" use="required"/>
						<!-- Importo riscosso o pagato -->
						<xs:attribute name="collectedOrPayedAmount" type="xs:integer"/>
						<!-- Codice dell'esercizio -->
						<xs:attribute name="cycleCode" type="xs:string" use="required"/>
						<!-- Descrizione -->
						<xs:attribute name="description" type="xs:string" use="required"/>
						<!-- Importo accertato o impegnato -->
						<xs:attribute name="establishedOrCommittedAmount" type="xs:integer"/>
						<!-- Importo previsto -->
						<xs:attribute name="estimatedAmount" type="xs:integer"/>
					</xs:complexType>
				</xs:element>
				<!-- Voce del piano dei conti finanziario -->
				<xs:element maxOccurs="unbounded" minOccurs="0" name="chartOfAccountItem">
					<xs:complexType>
						<!-- Codice della voce del piano dei conti finanziario -->
						<xs:attribute name="chartOfAccountItemCode" type="xs:string"/>
						<!-- Codice del tipo di voce del piano dei conti finanziario -->
						<xs:attribute name="chartOfAccountItemTypeCode" type="xs:string" use="required"/>
						<!-- Codice -->
						<xs:attribute name="code" type="xs:string" use="required"/>
						<!-- Importo riscosso o pagato -->
						<xs:attribute name="collectedOrPayedAmount" type="xs:integer"/>
						<!-- Codice dell'esercizio -->
						<xs:attribute name="cycleCode" type="xs:string" use="required"/>
						<!-- Descrizione -->
						<xs:attribute name="description" type="xs:string" use="required"/>
						<!-- Importo accertato o impegnato -->
						<xs:attribute name="establishedOrCommittedAmount" type="xs:integer"/>
						<!-- Importo previsto -->
						<xs:attribute name="estimatedAmount" type="xs:integer"/>
					</xs:complexType>
				</xs:element>
				<!-- Voce del piano esecutivo di gestione -->
				<xs:element maxOccurs="unbounded" minOccurs="0" name="executiveManagementPlanItem">
					<xs:complexType>
						<!-- Codice della voce dello schema di bilancio -->
						<xs:attribute name="balanceSheetItemCode" type="xs:string"/>
						<!-- Codice della voce del piano dei conti finanziario -->
						<xs:attribute name="chartOfAccountItemCode" type="xs:string"/>
						<!-- Codice -->
						<xs:attribute name="code" type="xs:string" use="required"/>
						<!-- Importo riscosso o pagato -->
						<xs:attribute name="collectedOrPayedAmount" type="xs:integer"/>
						<!-- Codice dell'esercizio -->
						<xs:attribute name="cycleCode" type="xs:string" use="required"/>
						<!-- Descrizione -->
						<xs:attribute name="description" type="xs:string" use="required"/>
						<!-- Importo accertato o impegnato -->
						<xs:attribute name="establishedOrCommittedAmount" type="xs:integer"/>
						<!-- Importo previsto -->
						<xs:attribute name="estimatedAmount" type="xs:integer"/>
						<!-- Codice della voce del piano esecutivo di gestione -->
						<xs:attribute name="executiveManagementPlanItemCode" type="xs:string"/>
						<!-- Codice del tipo di voce del piano esecutivo di gestione -->
						<xs:attribute name="executiveManagementPlanItemTypeCode" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
				<!-- Soggetto -->
				<xs:element maxOccurs="unbounded" minOccurs="0" name="subject">
					<xs:complexType>
						<!-- Codice -->
						<xs:attribute name="code" type="xs:string" use="required"/>
						<!-- Nome -->
						<xs:attribute name="name" type="xs:string" use="required"/>
						<!-- Codice del tipo di soggetto -->
						<xs:attribute name="subjectTypeCode" type="xs:string" use="required"/>
						<!-- Codice fiscale -->
						<xs:attribute name="taxCode" type="xs:string"/>
						<!-- Partita IVA -->
						<xs:attribute name="vatNumber" type="xs:string"/>
					</xs:complexType>
				</xs:element>
				<!-- Operazione -->
				<xs:element maxOccurs="unbounded" minOccurs="0" name="transaction">
					<xs:complexType>
						<!-- Codice dell'atto -->
						<xs:attribute name="actCode" type="xs:string"/>
						<!-- Codice della voce dello schema di bilancio -->
						<xs:attribute name="balanceSheetItemCode" type="xs:string"/>
						<!-- Codice della voce del piano dei conti finanziario -->
						<xs:attribute name="chartOfAccountItemCode" type="xs:string"/>
						<!-- Codice -->
						<xs:attribute name="code" type="xs:string" use="required"/>
						<!-- Importo riscosso o pagato -->
						<xs:attribute name="collectedOrPayedAmount" type="xs:integer"/>
						<!-- Codice dell'esercizio -->
						<xs:attribute name="cycleCode" type="xs:string" use="required"/>
						<!-- Data -->
						<xs:attribute name="date" type="xs:date" use="required"/>
						<!-- Importo impegnato o accertato -->
						<xs:attribute name="establishedOrCommittedAmount" type="xs:integer"/>
						<!-- Codice della voce del piano esecutivo di gestione -->
						<xs:attribute name="executiveManagementPlanItemCode" type="xs:string"/>
						<!-- Descrizione -->
						<xs:attribute name="description" type="xs:string" use="required"/>
						<!-- Codice del tipo di operazione -->
						<xs:attribute name="transactionTypeCode" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
				<!-- Collegamento tra atto ed esercizio -->
				<xs:element maxOccurs="unbounded" minOccurs="0" name="actCycle">
					<xs:complexType>
						<!-- Codice dell'atto -->
						<xs:attribute name="actCode" type="xs:string" use="required"/>
						<!-- Importo riscosso o pagato -->
						<xs:attribute name="collectedOrPayedAmount" type="xs:integer"/>
						<!-- Codice dell'esercizio -->
						<xs:attribute name="cycleCode" type="xs:string" use="required"/>
						<!-- Importo impegnato o accertato -->
						<xs:attribute name="establishedOrCommittedAmount" type="xs:integer"/>
					</xs:complexType>
				</xs:element>
				<!-- Collegamento tra esercizio e soggetto -->
				<xs:element maxOccurs="unbounded" minOccurs="0" name="cycleSubject">
					<xs:complexType>
						<!-- Importo riscosso o pagato -->
						<xs:attribute name="collectedOrPayedAmount" type="xs:integer"/>
						<!-- Codice dell'esercizio -->
						<xs:attribute name="cycleCode" type="xs:string" use="required"/>
						<!-- Importo accertato o impegnato -->
						<xs:attribute name="establishedOrCommittedAmount" type="xs:integer"/>
						<!-- Codice del soggetto -->
						<xs:attribute name="subjectCode" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
				<!-- Collegamento tra soggetto e operazione -->
				<xs:element maxOccurs="unbounded" minOccurs="0" name="subjectTransaction">
					<xs:complexType>
						<!-- Importo riscosso o pagato -->
						<xs:attribute name="collectedOrPayedAmount" type="xs:integer"/>
						<!-- Importo accertato o impegnato -->
						<xs:attribute name="establishedOrCommittedAmount" type="xs:integer"/>
						<!-- Codice del soggetto -->
						<xs:attribute name="subjectCode" type="xs:string" use="required"/>
						<!-- Codice dell'operazione -->
						<xs:attribute name="transactionCode" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
		<xs:key name="actCodeKey">
			<xs:selector xpath="./tns:act"/>
			<xs:field xpath="@code"/>
		</xs:key>
		<xs:key name="actTypeCodeKey">
			<xs:selector xpath="./tns:actType"/>
			<xs:field xpath="@code"/>
		</xs:key>
		<xs:key name="balanceSheetItemCodeKey">
			<xs:selector xpath="./tns:balanceSheetItem"/>
			<xs:field xpath="@code"/>
		</xs:key>
		<xs:key name="balanceSheetItemTypeCodeKey">
			<xs:selector xpath="./tns:balanceSheetItemType"/>
			<xs:field xpath="@code"/>
		</xs:key>
		<xs:key name="chartOfAccountItemCodeKey">
			<xs:selector xpath="./tns:chartOfAccountItem"/>
			<xs:field xpath="@code"/>
		</xs:key>
		<xs:key name="chartOfAccountItemTypeCodeKey">
			<xs:selector xpath="./tns:chartOfAccountItemType"/>
			<xs:field xpath="@code"/>
		</xs:key>
		<xs:key name="cycleCodeKey">
			<xs:selector xpath="./tns:cycle"/>
			<xs:field xpath="@code"/>
		</xs:key>
		<xs:key name="cycleTypeCodeKey">
			<xs:selector xpath="./tns:cycleType"/>
			<xs:field xpath="@code"/>
		</xs:key>
		<xs:key name="executiveManagementPlanItemCodeKey">
			<xs:selector xpath="./tns:executiveManagementPlanItem"/>
			<xs:field xpath="@code"/>
		</xs:key>
		<xs:key name="executiveManagementPlanItemTypeCodeKey">
			<xs:selector xpath="./tns:executiveManagementPlanItemType"/>
			<xs:field xpath="@code"/>
		</xs:key>
		<xs:key name="subjectCodeKey">
			<xs:selector xpath="./tns:subject"/>
			<xs:field xpath="@code"/>
		</xs:key>
		<xs:key name="subjectTypeCodeKey">
			<xs:selector xpath="./tns:subjectType"/>
			<xs:field xpath="@code"/>
		</xs:key>
		<xs:key name="transactionCodeKey">
			<xs:selector xpath="./tns:transaction"/>
			<xs:field xpath="@code"/>
		</xs:key>
		<xs:key name="transactionTypeCodeKey">
			<xs:selector xpath="./tns:transactionType"/>
			<xs:field xpath="@code"/>
		</xs:key>
		<xs:keyref name="actCycleActCodeKeyref" refer="tns:actCodeKey">
			<xs:selector xpath="./tns:actCycle"/>
			<xs:field xpath="@actCode"/>
		</xs:keyref>
		<xs:keyref name="actCycleCycleCodeKeyref" refer="tns:cycleCodeKey">
			<xs:selector xpath="./tns:actCycle"/>
			<xs:field xpath="@cycleCode"/>
		</xs:keyref>
		<xs:keyref name="actActTypeCodeKeyref" refer="tns:actTypeCodeKey">
			<xs:selector xpath="./tns:act"/>
			<xs:field xpath="@actTypeCode"/>
		</xs:keyref>
		<xs:keyref name="balanceSheetItemCycleCodeKeyref" refer="tns:cycleCodeKey">
			<xs:selector xpath="./tns:balanceSheetItem"/>
			<xs:field xpath="@cycleCode"/>
		</xs:keyref>
		<xs:keyref name="balanceSheetItemBalanceSheetItemCodeKeyref" refer="tns:balanceSheetItemCodeKey">
			<xs:selector xpath="./tns:balanceSheetItem"/>
			<xs:field xpath="@balanceSheetItemCode"/>
		</xs:keyref>
		<xs:keyref name="balanceSheetItemBalanceSheetItemTypeCodeKeyref" refer="tns:balanceSheetItemTypeCodeKey">
			<xs:selector xpath="./tns:balanceSheetItem"/>
			<xs:field xpath="@balanceSheetItemTypeCode"/>
		</xs:keyref>
		<xs:keyref name="chartOfAccountItemCycleCodeKeyref" refer="tns:cycleCodeKey">
			<xs:selector xpath="./tns:chartOfAccountItem"/>
			<xs:field xpath="@cycleCode"/>
		</xs:keyref>
		<xs:keyref name="chartOfAccountItemChartOfAccountItemCodeKeyref" refer="tns:chartOfAccountItemCodeKey">
			<xs:selector xpath="./tns:chartOfAccountItem"/>
			<xs:field xpath="@chartOfAccountItemCode"/>
		</xs:keyref>
		<xs:keyref name="chartOfAccountItemChartOfAccountItemTypeCodeKeyref" refer="tns:chartOfAccountItemTypeCodeKey">
			<xs:selector xpath="./tns:chartOfAccountItem"/>
			<xs:field xpath="@chartOfAccountItemTypeCode"/>
		</xs:keyref>
		<xs:keyref name="cycleCycleTypeCodeKeyref" refer="tns:cycleTypeCodeKey">
			<xs:selector xpath="./tns:cycle"/>
			<xs:field xpath="@actTypeCode"/>
		</xs:keyref>
		<xs:keyref name="cycleSubjectCycleCodeKeyref" refer="tns:cycleCodeKey">
			<xs:selector xpath="./tns:cycleSubject"/>
			<xs:field xpath="@cycleCode"/>
		</xs:keyref>
		<xs:keyref name="cycleSubjectSubjectCodeKeyref" refer="tns:subjectCodeKey">
			<xs:selector xpath="./tns:cycleSubject"/>
			<xs:field xpath="@subjectCode"/>
		</xs:keyref>
		<xs:keyref name="executiveManagementPlanItemCycleCodeKeyref" refer="tns:cycleCodeKey">
			<xs:selector xpath="./tns:executiveManagementPlanItem"/>
			<xs:field xpath="@cycleCode"/>
		</xs:keyref>
		<xs:keyref name="executiveManagementPlanItemBalanceSheetItemCodeKeyref" refer="tns:balanceSheetItemCodeKey">
			<xs:selector xpath="./tns:executiveManagementPlanItem"/>
			<xs:field xpath="@balanceSheetItemCode"/>
		</xs:keyref>
		<xs:keyref name="executiveManagementPlanItemChartOfAccountItemCodeKeyref" refer="tns:chartOfAccountItemCodeKey">
			<xs:selector xpath="./tns:executiveManagementPlanItem"/>
			<xs:field xpath="@chartOfAccountItemCode"/>
		</xs:keyref>
		<xs:keyref name="executiveManagementPlanItemExecutiveManagementPlanItemCodeKeyref" refer="tns:executiveManagementPlanItemCodeKey">
			<xs:selector xpath="./tns:executiveManagementPlanItem"/>
			<xs:field xpath="@executiveManagementPlanItemCode"/>
		</xs:keyref>
		<xs:keyref name="executiveManagementPlanItemExecutiveManagementPlanItemTypeCodeKeyref" refer="tns:executiveManagementPlanItemTypeCodeKey">
			<xs:selector xpath="./tns:executiveManagementPlanItem"/>
			<xs:field xpath="@executiveManagementPlanItemTypeCode"/>
		</xs:keyref>
		<xs:keyref name="subjectSubjectTypeCodeKeyref" refer="tns:subjectTypeCodeKey">
			<xs:selector xpath="./tns:subject"/>
			<xs:field xpath="@subjectTypeCode"/>
		</xs:keyref>
		<xs:keyref name="transactionActCodeKeyref" refer="tns:actCodeKey">
			<xs:selector xpath="./tns:transaction"/>
			<xs:field xpath="@actCode"/>
		</xs:keyref>
		<xs:keyref name="transactionBalanceSheetItemCodeKeyref" refer="tns:balanceSheetItemCodeKey">
			<xs:selector xpath="./tns:transaction"/>
			<xs:field xpath="@balanceSheetItemCode"/>
		</xs:keyref>
		<xs:keyref name="transactionChartOfAccountItemCodeKeyref" refer="tns:chartOfAccountItemCodeKey">
			<xs:selector xpath="./tns:transaction"/>
			<xs:field xpath="@chartOfAccountItemCode"/>
		</xs:keyref>
		<xs:keyref name="transactionExecutiveManagementPlanItemCodeKeyref" refer="tns:executiveManagementPlanItemCodeKey">
			<xs:selector xpath="./tns:transaction"/>
			<xs:field xpath="@executiveManagementPlanItemCode"/>
		</xs:keyref>
		<xs:keyref name="transactionCycleCodeKeyref" refer="tns:cycleCodeKey">
			<xs:selector xpath="./tns:transaction"/>
			<xs:field xpath="@cycleCode"/>
		</xs:keyref>
		<xs:keyref name="transactionTransactionTypeCodeKeyref" refer="tns:transactionTypeCodeKey">
			<xs:selector xpath="./tns:transaction"/>
			<xs:field xpath="@transactionTypeCode"/>
		</xs:keyref>
	</xs:element>
</xs:schema>
